<html>
  <head>
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <%= title %>
    <form class="flex-form" method="post" action="/new">
      <p>
        <label for="authorsName">Author's Name:</label>
        <input type="text" id="authorsName" name="author" />
      </p>
      <br />
      <p>
        <label for="messageText">Message Text:</label>
        <textarea name="msg" id="messageText"></textarea>
      </p>
      <br />
      <p>
        <input type="submit" value="Submit" />
      </p>
    </form>
  </body>
</html>
